@import "tailwindcss";
@layer base {
  /* reset  */
  body{
    cursor: none;
  }
  main{
    background-image: url(/img/والپیپر-آبی-ویندوز-11-1024x576.jpg);
  }
}
@layer components{

}
@layer utilities{
  .back{
    background-color: rgba(5, 5, 5, 0.322);
    backdrop-filter: blur(50px);
  }
  .liBorder {
    @apply border-b border-b-gray-400
  }
}
@layer theme{}